@model ExamTickets.Controllers.AccountController.IndexWebModel
@{
    ViewBag.Title = "Информация по профилю пользователя";
}

<div class="row">
    <div class="col-sm-3">
        <partial name="Partial/_AccountLeftSidebarPartial" />
    </div>
    <div class="col-sm-9">
        <h1>@ViewBag.Title</h1>

        <div class="table-responsive border-1 shadow rounded bg-light p-2">
            <table class="table my-2 table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Параметр</th>
                        <th>Значение</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.User is null)
                    {
                        <tr>
                            <th class="text-center">Нет сведений об идентификации пользователя</th>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <th>Логин пользователя:</th>
                            <td class="text-break">@Model.User.UserName</td>
                        </tr>
                        <tr>
                            <th>Почта пользователя:</th>
                            <td class="text-break">@Model.User.Email</td>
                        </tr>
                        <tr>
                            <th>Фамилия:</th>
                            <td class="text-break">@Model.User.SurName</td>
                        </tr>
                        <tr>
                            <th>Имя:</th>
                            <td class="text-break">@Model.User.FirstName</td>
                        </tr>
                        <tr>
                            <th>Отчество:</th>
                            <td class="text-break">@Model.User.Patronymic</td>
                        </tr>
                        <tr>
                            <th>Дата рождения:</th>
                            <td class="text-break">@Model.User.Birthday.ToShortDateString()</td>
                        </tr>
                        <tr>
                            <th>Роли пользователя:</th>
                            <td class="text-break">
                                @foreach (var role in Model.UserRoleNames)
                                {
                                    <p>@role</p>
                                }
                            </td>
                        </tr>
                        <tr>
                            <th>Куки:</th>
                            <td class="text-break">@Model.Cookie</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

