@model IEnumerable<ExamTickets.Controllers.PreparationController.TicketWebModel>
@{
    ViewBag.Title = "Экзамен";
}

<div class="row">
    <div class="col-sm-3">
        <partial name="Partial/_LeftSidebarPartial" />
    </div>
    <div class="col-sm-9">
        <h1>@ViewBag.Title</h1>
        
        <div class="border-1 shadow rounded bg-light p-1">

            <h5>Экзамен: @ViewBag.ExamenName</h5>
            
            <p class="m-0">
                Группа: <a asp-controller="Preparation" asp-action="Group" asp-route-id="@ViewBag.GroupId" class="btn btn-outline-info text-black">@ViewBag.GroupName</a>
            </p>

            <p>Подготовка к сдаче экзаменов.</p>

            <p class="m-0">Выберите билет:</p>
            
            @foreach (var e in Model)
            {
                <div class="mb-1">
                    <a asp-controller="Preparation" asp-action="Ticket" asp-route-id="@e.Id" class="btn btn-success">
                        @e.TicketText
                    </a>
                </div>
            }

        </div>

    </div>
</div>